
h1 { color:#b12e2e;}
body {background-color: #f2f1f0; font-family: cursive; margin: 25px;}
img {width: 300px;}
p {font-size: 16px; line-height: 1.5;}
p {font-family: Arial, Helvetica, sans-serif;}
li {color: #b12e2e;}